  {
    //"plugins": [ ["transform-remove-console", { "exclude": [ "error", "warn", "console"] }] ]
    "presets": [
      ["@babel/preset-env", {"targets": {"node": "current"}}],
      ["@babel/preset-react", {"runtime": "automatic"}]
    ]
  }